<div class="alt-spelling-div">
	<span class="alt-spellings-prefix">
		spellings
	</span>
	<% alt_spellings.each do  |spelling| %>
		<span class="alt-spelling">
			<%= spelling.text %>
		</span>
	<% end %>
</div>
