<div class="sources-div">
	<span class="sources-prefix">
		sources
	</span>
	<% sources.each do |source_reference| %>
		<% source_material = source_reference.source_material %>
		<span class="source">
			<% source_title = source_material&.title %>
			<% display_title = nil %>
			<% if source_title&.present? %>
				<% display_title = source_title&.truncate 15 %>
			<% else %>
				<% display_title = 'Untitled source' %>
			<% end %>

			<%= link_to "#{display_title}:#{source_reference.excerpts_string}",
				source_material,
				'data-placement': "top",
				'data-toggle': "tooltip",
				title: source_title 
			%>
		</span>
	<% end %>
</div>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>