<div class="sources-div">
	<span class="sources-prefix">
		sources
	</span>
	<% sources.each do |source_reference| %>
		<% source_material = source_reference.source_material %>
		<span class="source">
			<%= link_to (source_material.short_display_title.truncate 30),
				source_material,
				'data-placement': "top",
				'data-toggle': "tooltip",
				title: source_reference.reference_string
			%>
		</span>
	<% end %>
</div>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>