<% content_for(:title) { "Submissions" } %>

<div class="row">
	<div class="col long-text">
		<h1>Submit a new word or correction</h1>
		<%= form_tag("/submissions", method: "post", class: "submissions-form") do %>
			<div class="row">
				<div class="col">
					<div class="submission-instructions">
						<p>
						If you find a mistake or you have new information for the dictionary, please submit it below.
						Please include any source information, related words, and associated places, if possible.
						You may provide an email address for us to contact you when your information is added.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="newRadio" name="new_entry" value="true">
						<label class="form-check-label" for="newRadio">New word</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="existingRadio" name="new_entry" value="false">
						<label class="form-check-label" for="existingRadio">Existing word</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col">
					<label for="word">Word</label>
					<input name="word" class="form-control"></input>
				</div>
			</div>
			<div class="row">
				<div class="form-group col">
					<label for="word">Places</label>
					<input name="places" class="form-control"></input>
				</div>
			</div>

			<div class="row">
				<div class="form-group col">
					<label for="word">Relevant date(s)</label>
					<input type="text" name="dates" class="form-control"></input>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col">
					<label for="word">Source(s)</label>
					<input type="text" name="sources" class="form-control"></input>
				</div>
			</div>

			<div class="row">
				<div class="form-group col">
					<label for="content">Quote(s)</label>
					<textarea name="quotes" class="form-control"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group col">
					<label for="content">Notes</label>
					<textarea name="notes" class="form-control"></textarea>
				</div>
			</div>
		
			<div class="row">
				<div class="form-group col">
					<label for="email_address">Email address (to be notified when your submission is added)</label>
					<input name="email_address" class="form-control"/> 
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		<% end %>
	</div>
</div>


<%= render "shared/help_modal" do |x| %>
  <p>
	Use this page to submit new information to the dictionary, or to correct any
	errors you find in the data.
  </p>
  <p>
	Please provide as much information as you can, to help us ensure the data is
	as accurate as possible. If the information you are providing is a correction,
	please select 'existing word' to help us locate the right one.
  </p>
  <p>
	If you'd like to be informed when your submission is integrated into the 
	dictionary, you can provide an email address at the bottom of the page.
  </p>
<% end %>
