<% content_for(:title) { "About" } %>

<h1>Yorkshire Historic Dictionary</h1>
<div class="row">
	<div class="col">
		<p>In November 2017, the Borthwick Institute launched an ambitious 15-month project to produce a new dictionary of historic Yorkshire terms. Building on the work of Dr George Redmonds, who has over sixty years’ experience researching the history of Yorkshire and has amassed an impressive card catalogue of thousands of terms and phrases, the project will produce a published Yorkshire Dictionary as well as an online version.</p>
		<p>The Dictionary will be a significant addition to the scholarship on Yorkshire. It derives from a wide range of sources and will widen the English lexicon with new vocabulary for (among others) by-names and place-names; for agricultural and animal terms; and for specialist craft and industries. The Dictionary will provide new words, such as clatch, ding, fulture, sternald, stonery, wandhagger; new meanings for established words like attachment, breed, hedgerow, landing; and fill in gaps in our understanding of the development of regional language from ‘borrowings’ from the Baltic and Low Countries to its decline from the Tudor period on.</p>
		<p>The forthcoming website will be freely available to all and will provide a virtual community for all interested researchers to contribute their own findings, further enriching our understanding. By constructing the Dictionary using open-source software we hope to provide a framework for other regions to develop their own dictionary projects. This would help to show how regional terms crossed geographic borders, plotting the movements of people and industries over time and space.</p>
		<p>The project will also involve significant outreach and engagement, both within the academic and wider community, including lectures, workshops and online activities.</p>
		<p>The Yorkshire Historic Dictionary project was generously funded by the Marc Fitch Foundation, as a memorial to David Hey, their former chairman and an eminent local and family historian, who died in 2016. The project is based at and managed by the Borthwick Institute for Archives, in partnership with Dr George Redmonds and the Yorkshire Archaeological and Historical Society Record Series.</p>
		<p>Keep an eye on the project twitter account @YorksDictionary and the Borthwick blog for further information.</p>
	</div>
</div>