<% content_for(:title) { "About" } %>

<div class="about-page">
	<div class="row">
		<div class="col long-text">
			<h1>Yorkshire Historic Dictionary</h1>
			<p>
				The Yorkshire Historic Dictionary provides free access to over 4,000 
				historic terms from Yorkshire documents, collected by Dr George Redmonds
				over his sixty-year career. The words date from 1100 to c.1750 and cover
				the length and breadth of the historic county of Yorkshire. They include
				by-names and place names; agricultural, industrial and coal-mining terms;
				words for landscape features, animals and plants; and the names of
				domestic objects, clothing and textiles.
			</p>
			
			<p>
				You can browse the dictionary by using the menu at the top of the page,
				or search by word, place, source and date using the tabs on the ‘Words’
				page. If you can’t find the word you’re looking for, or if you think
				you’ve spotted a mistake, consider submitting it to us using the
				‘Submissions’ form. We hope to continue to develop the dictionary
				through researcher contribution, so we’d be very happy to hear from you. 
			</p>
			<p>
				The Yorkshire Historic Dictionary project was generously funded by the
				Marc Fitch Fund, as a memorial to Dr David Hey, their former chairman
				and an eminent local historian. The project was based at, and managed
				by, the Borthwick Institute for Archives, in partnership with Dr George
				Redmonds and the Yorkshire Archaeological and Historical Society. 
			</p>

			<h2>
				Dr George Redmonds 
			</h2>
			<p>
				Dr George Redmonds was an internationally recognised authority on
				Yorkshire’s surnames and place-names. The Yorkshire Historic Dictionary
				was compiled from his impressive catalogue of historic Yorkshire terms,
				collected over a sixty-year career as a researcher in Yorkshire’s
				history. 
			</p>

			<p>
				Dr Redmonds was born in Bradford in 1935. He graduated in modern
				languages at Birmingham in 1957 and then pursued a teaching career in
				London, Nairobi, West Germany and Yorkshire. In 1970 he was awarded a
				PhD from the University of Leicester for his research into Yorkshire
				surnames. His thesis was subsequently published as volume 1 of the
				English Surnames Series. 
			</p>

			<p>
				In 1974, Dr Redmonds gave up his job as a senior lecturer at
				Huddersfield Polytechnic to become a freelance historian specialising in
				Name Studies.  Over the next forty years, he taught many local history
				classes, gave talks to numerous local and family history societies and
				classes and completed lecture tours in the USA, Australia and New
				Zealand. He was a frequent speaker at international conferences and was
				the author of numerous articles and books including: Surnames and
				Genealogy: A New Approach (1997); Christian Names in Local and Family
				History (2004); Names and History: People, Places and Things (2004);
				Surnames, DNA, & Family History (2011); A Dictionary of Yorkshire
				Surnames (2015). In 2002 he presented the BBC Radio 4 series Surnames,
				Genes and Genealogy. He was the founding editor of the journal Old West
				Riding and a frequent contributor.
			</p>
			
			<p>
				It was Dr Redmonds’ generosity which made the Yorkshire Historic
				Dictionary project possible, first by agreeing to give his word horde,
				collected over his sixty-year career, to the project and then by
				spending a year transcribing it from the original short-hand before the
				project could begin. Sadly, Dr Redmonds died following a short illness
				on 10 August 2018, before the project was completed. 
			</p>

			<h2>
				Dr David Hey
			</h2>
			<p>
				Dr David Hey was a specialist in the social history of surnames, and in
				the social and economic history of Sheffield and North Derbyshire. He
				was strongly motivated by a belief in the importance of the newly
				popular family history and encouraged amateur historians to look beyond
				their family trees and consider the implications of wider social history. 
			</p>

			<p>
				David Hey was born near Penistone, in 1938. He was educated at Penistone
				Grammar School and then at the University College of North Staffordshire
				(now Keele University) where he gained his first degree in 1960. After a
				period of time teaching in Yorkshire, and then as a lecturer at Matlock
				College of Education, he gained an MA and PhD from the University of
				Leicester and spent four years as a research fellow there. In 1974,
				he moved to the University of Sheffield as a lecturer in its department
				of extramural studies. He was made a chair in 1992 and the dean of his
				faculty in 1994. He received an honorary doctorate in 2015. He served as
				president of the British Association for Local History; president of the
				British Agricultural History Society; chair of the council of the
				British Record Society; and director of the Marc Fitch Fund. 
			</p>

			<p>
				Dr Hey published widely throughout his career, and his bibliography
				includes: An English Rural Community: Myddle Under the Tudors and
				Stuarts (1974); Packmen, Carrier and Packhorse Roads (1980); Family
				History and Local History in England (1987); The Fiery Blades of
				Hallamshire (1991); The Oxford Guide to Family History (1993); Journeys
				in Family History: The National Archives’ Guide to Exploring Your Past,
				Finding Your Ancestors (2003); Family Names and Family History (2006);
				Surnames, DNA and Family History (2011); The Grass Roots of English
				History (2016).
			</p>

			<p>
				David Hey died on 14 February 2016, and the Yorkshire Historic
				Dictionary project was conceived as a memorial to his career. 
			</p>


		</div>
	</div>
	<div id="funding-logo-container">
		<div class="funding-logo shadowed-logo"> 
			<%= image_tag "uoy_logo.png" %>
		</div>
		<div class="funding-logo">
			<%= image_tag "fitch_logo.png" %>
		</div>
		<div class="funding-logo shadowed-logo"> 
			<%= image_tag "borthwick_logo.png" %>
		</div>
		<div class="funding-logo"> 
			<%= image_tag "yahs.png" %>
		</div>
	</div>
</div>