<% content_for(:title) { "Contact" } %>

<h1> Contact Information </h1>
<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<p class="card-text">
					For <strong>technical</strong> queries, and anything related to the website, please email <a href="mailto:dti-service-desk-group@york.ac.uk?subject=YHD Feedback/Query">dti-service-desk-group@york.ac.uk</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<p class="card-text">
					For <strong>general</strong> queries about the project, please email the project archivist at <a href="mailto:alexandra.medcalf@york.ac.uk?subject=YHD Feedback/Query">alexandra.medcalf@york.ac.uk</a>
				</p>
			</div>
		</div>
	</div>
</div>
