<div class="background h-100">
	<div class="container h-100" style="background-color: transparent">
		<div id="homepage-flexbox">
			<div id="homepage-search-div">
				<div>
					<input 
						id="homepage-search-text" 
						placeholder="Search for a word..."
						class="form-control form-control-lg" 
						type="text">
						</input>

						<div class="d-flex justify-content-center">
							<div class="btn-toolbar mt-2">
								<div class="btn-group mr-2">
									<button class="btn btn-secondary">Random Word</button>
								</div>
								<div class="btn-group mr-2">
									<button class="btn btn-secondary">Browse</button> 
								</div>
								<div class="btn-group mr-2">
									<button class="btn btn-secondary">Advanced search</button> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>