<div id='network-graph-container'>
	<h2>
		Network
	</h2>

	<div id="network-graph-loading-message">
		<h3>Loading</h3>
    </div>

	<%= content_tag "div", id:"network-graph", class:'network-graph', 
		style: "height: 600px", data:{'definition-id': definition_id} do %>
	<% end %>
</div>
