<div class="container">
  <!-- <%= link_to 'New Word', new_word_path, class: "btn btn-primary float-right" if current_user&.admin? %> -->
  <%= render 'words/search' %>

  <%= render 'words/word_list/word_list' %>
  
</div>
