$(document).on("turbolinks:load", function() {

	// Get place data from data attr. on #map div
	let place_data = $('#map').data('places');

	if (place_data && place_data.length) {

		// Instantiate map
		let map = L.map('map', { scrollWheelZoom: false });
	
		// create the tile layer with correct attribution
		let osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
		let osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
		let osm = new L.TileLayer(osmUrl, {minZoom: 2, maxZoom: 20, attribution: osmAttrib});		
		map.addLayer(osm);

		// Instantiate markers cluster (empty)
		let markers = L.markerClusterGroup();

		// Loop through place data and create a marker for each, and add to markers
		for(let i=0;i<place_data.length;i++) {
			let current_place = place_data[i];
			let latitude = current_place.latitude;
			let longitude = current_place.longitude;
			
			if (longitude && latitude) {
				let marker = L.marker([latitude, longitude]);
				markers.addLayer(marker);
				let markerText = `<b><a href=${current_place.link}>${current_place.name}</a></b>`;
				marker.bindPopup(markerText).openPopup();
			}
		}
		map.addLayer(markers);

		// Center on york
		map.setView(new L.LatLng(53.95763, -1.08271), 8);
	}	
});
