$(document).on("turbolinks:load", function() {
	// Get place data from data attr. on #map div
	let place_data = $('#map').data('place');

	if (place_data) {
		let latitude = place_data.latitude;
		let longitude = place_data.longitude;
		
		if (longitude && latitude) {
			// Show map if there is place data available
			$('#map').show();

			// Disable map zoom on scroll
			let map = L.map('map', { scrollWheelZoom: false });
		
			// create the tile layer with correct attribution
			let osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
			let osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
			let osm = new L.TileLayer(osmUrl, {minZoom: 2, maxZoom: 20, attribution: osmAttrib});		
			map.addLayer(osm);

			// Center map around place, set zoom level to 9
			map.setView(new L.LatLng(latitude, longitude), 9);

			L.marker([latitude, longitude]).addTo(map);
		}
	}	
});
