$(document).on("turbolinks:load", function() {
	let place_data = $('#map').data('place');
	if (place_data && place_data.length) {
		let latitude = place_data.latitude;
		let longitude = place_data.longitude;
		
		if (longitude && latitude) {
			$('#map').show();

			var map = L.map('map', { scrollWheelZoom: false });
		
			// create the tile layer with correct attribution
			var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
			var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
			var osm = new L.TileLayer(osmUrl, {minZoom: 2, maxZoom: 20, attribution: osmAttrib});		

			map.setView(new L.LatLng(latitude, longitude), 9);

			var marker = L.marker([latitude, longitude]).addTo(map);

			//marker.bindPopup("<b>"+place_data.name+"</b>").openPopup();

			map.addLayer(osm);
		}
	}	
});
