<% content_for(:title) { "Sources" } %>

<div class="row">
  <div class="col long-text">
    <h1>Source Materials</h1>
      <% @source_materials.each do |source_material| %>
          <p><%= link_to source_material.title, source_material %><p>
      <% end %>
      <%= will_paginate @source_materials, class: "justify-content-center pagination"%>
  </div>
</div>

<%= render "shared/help_modal" do |x| %>
  <p>
    On this page, you can find all the source materials used to create the
    dictionary. Each one contains a reference to at least one historic word, and
    you can find more information by clicking on a single source.
  </p>
  <p>
    Use the buttons at the bottom to navigate between pages.
  </p>
<% end %>
