/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 *= require 'pagination'
 *= require 'footer'
 *= require devise_bootstrap_views
 
 */

 @import "bootstrap";

 .container {
	 padding-top: 3em;
	 background-color: white
 }

 .page-body {
	height: 100vh;
 }
 
 body, html {
	margin: 0;
	padding: 0;
}
	
.background {
	background-image: image-url("swaledale.jpg");
	background-size: cover;
	background-attachment: fixed;
}

 #homepage-flexbox {
	 display: flex;
	 align-content: center;
	 flex-direction: column;
	 height: 80%;
	 justify-content: center;
	 text-align: center;
 }

 #homepage-search-div {
	background-color: rgba(0,0,0,0.6);
    padding: 1em 1em 1em 1em;
	border-radius: .5em;
	color: white;
 }

 #homepage-search-text {
	 color:black;
 }

 .alphabet-links {
	 display: flex;
	 justify-content: center;
}