/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 *= require jquery-ui
 
 *= require 'autocomplete'
 *= require 'footer'
 *= require 'homepage'
 *= require 'navbar'
 *= require 'submissions'
 *= require 'places'
 *= require 'search'
 *= require 'network-graph'
 *= require 'words'
 *= require 'leaflet'
 *= require 'MarkerCluster.Default'
 *= require 'MarkerCluster'

 */

$font-family-serif: 'Bree Serif', Georgia, "Times New Roman", Times, serif;
$font-family-sans: 'Heebo', Georgia, "Times New Roman", Times, serif;
$headings-font-family: 'Bree Serif', Georgia, "Times New Roman", Times, serif;

@import "bootstrap";
@import "pagination";

@import "vis";

html, body {
	 min-height: 100%;
	 height:100%;
	 font-family: $font-family-base;
}

label, navbar, .nav-item {
	font-family: 'Bree Serif';
}

.container {
	padding: 3.6rem 3rem 3rem 3rem;
	min-height: 100%;
	background-color: white;
	margin-top: 3em;
	margin-bottom: 3em;
    box-shadow: 0em 0em 4em #00000085;
	border-radius: 0.3em;
	position: relative;
}

.help-button {
	position: absolute;
    top: 0;
    right: 3rem;
    border-radius: 0;
    text-transform: uppercase;
	font-family: 'Bree Serif';
	letter-spacing: 0.03rem;
	font-size: 1.2rem;
}

.alert {
	margin-bottom: 0;
}

.long-text {
	max-width: 44rem;
	margin-left: auto;
	margin-right: auto;
}

.flash-container {
	padding-left: 0;
	padding-right: 0;
}

.alert {
	text-align: center;
    font-weight: bold;
    border-radius: 0;
}

.row {
	margin-bottom: 1rem;
}
	
.background {
	@media only screen and (min-width: 1920px) {
		background-image: image-url("swaledale_md.jpg");
	}
	@media only screen and (min-width: 4608px) {
		background-image: image-url("swaledale_lg.jpg");
	}
	background-image: image-url("swaledale_sm.jpg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

a {
	color: #025dc5;
}

.attribution {
	background-color: #000000ad;
	padding: 3px;
	font-size: smaller;
	color: white;
	a {
		color:white;
	}
}

.homepage-attribution {
	position: absolute;
    bottom: 0;
	right: 0;
}

.background-attribution {
	position: fixed;
    bottom: 0;
    right: 0;
}