.footer {
	width: 100%;
	text-align: center;
	color: white;
	background-color: #212529;
	letter-spacing: 0.03rem;
	border: none;
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	box-sizing: content-box;
}
