body {
	background: none;
}

.homepage {
	height:90%;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

#homepage-flexbox {
	text-align: center;
	width: 80%;
	max-width: 800px;
}

#homepage-search-div {
	background-color: rgba(0,0,0,0.6);
	padding: 1em 1em 1em 1em;
	border-radius: .5em;
	color: white;
}

#homepage-search-text {
	color:black;
	text-align: center;
}

.homepage-banner-text {
	text-shadow: 0 0 8px grey;
	padding: 3rem;
	text-align: center;
	color: white;
	font-family: 'Bree Serif'
}

.homepage-container {
	background-color: white;
	text-align: center;
	// min-height: 300px;
	padding: 1rem;
	font-family: 'Bree Serif';
	padding: 2rem 1rem;
}

#homepage-categories {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.text-shadowed {
	text-shadow: 0 0 6px #232323;
}

.homepage-category {
	box-shadow: 0px 5px 18px 0px rgba(112, 112, 112, 0.36);
	padding: 1rem;
	text-align: center;
	margin: 1rem;
	flex-basis: 0;
	flex-grow: 1;
	min-height: 50px;
	// @media only screen and (min-width: 1920px) {
	// 	background-image: image-url("swaledale_md.jpg");
	// }
	// @media only screen and (min-width: 4608px) {
	// 	background-image: image-url("minster.jpg");
	// }
	background-image: image-url("minster.jpg");
	background-size: cover;
	color: white;
}

#homepage-banner {
	// @media only screen and (min-width: 1920px) {
	// 	background-image: image-url("swaledale_md.jpg");
	// }
	// @media only screen and (min-width: 4608px) {
	// 	background-image: image-url("swaledale_lg.jpg");
	// }
	background: linear-gradient(black, grey, transparent),url("swaledale_md.jpg") top;
	// background-image: image-url("swaledale_sm.jpg");
	background-size: cover;
	// background-position: top;
	color: white;
}

#homepage-search-container {
	@media only screen and (min-width: 1920px) {
		background-image: image-url("swaledale_md.jpg");
	}
	@media only screen and (min-width: 4608px) {
		background-image: image-url("swaledale_lg.jpg");
	}
	background-image: image-url("swaledale_sm.jpg");
	background-size: cover;
	background-position: top;
	color: white;
}