.map {
	height: 40em;
	width: 60em;
}

.place-word {
	background-color: #efefef;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    color: #6f6f6f;
    text-transform: capitalize;
    font-weight: 500;
		font-size: 1.5em;
    text-align: center;
}

.place-index-search #place_autocomplete {
    max-width: 35%;
}

#map {
    // Set z-index so map is shown _under_ the autocomplete results
    z-index: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
