<div class="container">
 
 <div class="row">
   <div class="col">
      <%= content_tag "div", id:"map", class:'map', data:{places: @map_places} do %><% end %>
   </div>
 </div>

  <div class="row">
    <div class="col">
      <% @places.each do |place| %>
          <h2><%= link_to place.name, place %></h2>
          <% #link_to 'Edit', edit_place_path(place) %>
          <% # link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <br>
      <% #link_to 'New Place', new_place_path %>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <%= will_paginate @words, class: "justify-content-center pagination"%>
    </div>
  </div>

</div>

