<div class="container">
	<div class="row">
		<div class="col">
			<h1><%= @place.name %></h1>
			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<%= content_tag "div", 
							id:"map",
							class:'map',
							style: 'display:none',
							data:{ place: @place } do %>
			<% end %>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<h2>Associated Definitions</h2>
			<% @place.definitions.each do |definition|%>
				<span class="place-word"><%= link_to definition.word.text, definition.word %></span>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col">
		<%= link_to 'Back', places_path %>
		</div>
	</div>
</div>
